#hero {
    margin-top: 80px;
    width: 100%;

}

#hero .container {
    margin: auto;
    /* max-width: 1280px; */
    background: url('../img/hero1.jpeg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#hero .hero-content {
    margin: auto;
    /* max-width: 1280px; */
    width: 90%;
    color: white;
    padding-top: 150px;
}

#hero .hero-content h1 {
    margin-top: 0px;
    font-size: 48pt;
    font-weight: 800;
    letter-spacing: 1px;
}

#hero .hero-content span {
    font-weight: 500;
}

#hero .hero-content p {
    width: 50vw;
    margin-top: 6px;
}

@media (max-width: 576px) {
    #hero .hero-content h1 {
        font-size: 24pt;
    }
}

@media (max-width: 768px) {
    #hero .hero-content p {
        width: 100%;
    }

    #hero .hero-content h1 {
        font-size: 36pt;
    }
}

/* @media (max-width: 1024px) {
    #hero .hero-content p {
        width: 80%;
    }
} */